/* Reset */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0ebf8;
}

h1,
h2,
h3,
h4,
h5 {
    color: #333;
}

p,
label {
    color: #444;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}

input [type="text"] input [type="number"] input [type="date"] input [type="file"] {
    width: 400px;
}

/* Page Header */
.header {
    width: 90%;
    margin: 0 auto;
    height: 200px;
    padding: 20px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.3)),
    linear-gradient(to bottom, rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)),
    url("IMG/fotografia-completa-do-estacionamento_1048944-3313540.png");
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px 5px 15px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.1);
    background-size: cover;
    /* */
    background-position: center;
    /* */
    position: relative;
    /* */
    display: flex;
    /* */
    align-items: center;
    /* */
    justify-content: center;
    /* */
    text-align: center;
    /* */
    border-radius: 3px;
}

.header h1 {
    text-align: center;
    color: #fff;
    margin-top: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.header h3 {
    color: #fff;
    margin-top: 0px;
}

textarea {
    padding: 10px 5px;
    width: 400px;
}

/* Form header */
.form_header {
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}

.form_header p {
    color: #673ab7;
    border-bottom: 2px solid #673ab7;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}

/* Form body */
.form_body {
    padding: 30px;
}

.form_title {
    background-color: #f9f9f9;
    /* Cor de fundo para cada bloco de campo */
    padding: 20px;
    /* Espaçamento interno dentro do bloco */
    border: 1px solid #e0e0e0;
    /* Borda sutil para o bloco */
    border-radius: 8px;
    /* Cantos arredondados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    /* Sombra para dar profundidade */
    width: 62%;
    margin: 0 auto;
    margin-bottom: 10px;
    /* Espaço entre os blocos */
}

.form_title h1 {
    margin-bottom: 15px;
}

.form_body p {
    margin-bottom: 20px;
}

.required_field {
    color: #d80835;
}

.input_box {
    background-color: #f9f9f9;
    /* Cor de fundo para cada bloco de campo */
    padding: 20px;
    /* Espaçamento interno dentro do bloco */
    border: 1px solid #e0e0e0;
    /* Borda sutil para o bloco */
    border-radius: 8px;
    /* Cantos arredondados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    /* Sombra para dar profundidade */
    width: 62%;
    margin: 0 auto;
    margin-bottom: 10px;
    /* Espaço entre os blocos */
}

.block {
    display: block;
}

.optional_boxes {
    background-color: #f9f9f9;
    /* Cor de fundo para cada bloco de campo */
    padding: 20px;
    /* Espaçamento interno dentro do bloco */
    border: 1px solid #e0e0e0;
    /* Borda sutil para o bloco */
    border-radius: 8px;
    /* Cantos arredondados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    /* Sombra para dar profundidade */
    width: 62%;
    margin: 0 auto;
    margin-bottom: 10px;
    /* Espaço entre os blocos */
}

.optional_box {
    display: inline-block;
    margin: 0px 30px 0px 0px;
}

.optional_list li {
    list-style: none;
    margin-bottom: 5px;
}

.input_box p {
    margin-bottom: 15px;
}

/* Botão */

.button {
    display: flex;
    justify-content: center;
}

.btn_submit {
    background-color: #673ab7;
    color: #fff;
    border: 2px solid transparent;
    margin-top: 25px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn_submit:hover {
    background-color: #fff;
    border-color: #673ab7;
    color: #673ab7;
}